<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">
  <link rel="icon" type="image/png" href="./static/assets/images/briefcase.png"/>

  <title>About - David Hayrapetyan</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./works.html" title="">Works</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
          <li><a href="./references.html" title="">References</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Who am I?</h3>

                  <p>Hi! I am David, a self-taught programmer. I have been doing this for multiple years simply because I am fascinated by the art of coding. I finished the American University of Armenia, Communications department. Being in university has taught me many things, but most importantly I learned that one can pick up any profession as long as there is passion. I have tried many things including photography, writing, playing piano, PR, journalism, however nothing ever possessed me as much as programming</p>

                  <h3>What do I do?</h3>
                  <p>I use Python, Ruby, Javascript and Java to build most of my works. I love automating everything, writing scripts to perform the simplest and the most difficult tasks. I love challenges and often start projects without having any idea on how to do them, however I enjoy learning and this makes me engaged in my projects. I build scripts, web applications, create software, build simple games and automate tasks.</p>
                  <h3>Any hobbies?</h3>
                  <p>
                  I have a lot of hobbies. While I didn't pursue my career in photography, I still enjoy it as a hobby. Also I love reading books (Albert Camus fan), playing video games (Starcraft), learning anything related to IT and hiking.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/me_2.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>


--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
